.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b0c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    z-index: 10;
}

.logoText{
margin-left: -800px;
font-size: 20px;
font-weight: bold;
}

.logoImage {
    /* Ensures 10% spacing from the left edge */
    padding-left: 10%; 
    /* Image size constraints */
    max-height: 4rem; /* Prevents image from being taller than header */
    height: 100%; /* Use available height */
    width: auto;
    object-fit: contain;
}

.header .cartButtonContainer {
    padding-right: 10%;
}

.main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateZ(-1rem);
}

