.page {
  text-align: center;
  padding: 50px 20px;
  /* min-height: 80vh; */
}

.page h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.page p {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
}

/* Home Page */
.explore-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.explore-btn:hover {
  background-color: #4338ca;
}

/* User Info Page */
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 300px;
  margin-inline: auto;
}

.user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.user-details p {
  text-align: start;
  margin: 6px 0;
}

/* Not Found Page */
.notfound-page {
  color: #ef4444;
}
